app = "balance-2bbjqq"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  API_PORT = "3000"
  FRONTEND_PORT = "4173"

[http_service]
  internal_port = 4173
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[http_service.checks]]
  grace_period = "20s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/"
