

PORT=3000
DB_USER="root"
DB_PASS="root"
DB_HOST=""
DB_NAME=""
DB_APP_NAME=""

AWS_REGION="us-east-1"
S3_BUCKET_NAME="balance-statements"

AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me

MONGODB_URI=mongodb://localhost:27017/balance
SESSION_TTL_DAYS=7

# For sending emails
RESEND_API_KEY="XXXX"

